@model ViewLeftEmployeeVM
@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}
<div class="container pb-5 mt-3 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
        <h3>@Model.FirstName @Model.LastName</h3>
    </div>
    <hr class="w-75">

    <div class="w-75 pt-4 pb-5 mb-auto d-flex flex-column">
        <div class="d-flex flex-column-reverse flex-lg-row align-items-center align-items-lg-start">
            <div class="pr-2 col-12 col-lg-7 border-end">

                <h5 class="pt-3">
                    <i class="far fa-user-circle"></i> Лична информация
                </h5>
                <hr width="30%">
                <p>
                    <b>Email адрес</b>: @Model.Email
                </p>

                <p>
                    <b>Телефонен номер</b>: @Model.PhoneNumber
                </p>
                <p>
                    <b>Рождена дата</b>: @Model.Birthday.ToString("dd.MM.yyyy")
                </p>

                <h5 class="pt-3">
                    <i class="far fa-address-card"></i> Адрес
                </h5>
                <hr width="30%">

                @if (Model.Address_Additional != null)
                {
                    <p>
                        <b>Улица</b>: @Model.Address @Model.Address_Additional
                    </p>
                }
                else
                {
                    <p>
                        <b>Улица</b>: @Model.Address
                    </p>
                }
                <p>
                    <b>Град</b>: @Model.City
                </p>
                <p>
                    <b>Област</b>: @Model.Region
                </p>
                <p>
                    <b>Пощенски код</b>: @Model.Postal_Code
                </p>

                <h5 class="pt-3">
                    <i class="fas fa-briefcase"></i> Работна информация
                </h5>
                <hr width="30%">
                <p>
                    <b>Дата започване на работа</b>: @Model.Start_Date.ToString("dd.MM.yyyy")
                </p>
                <p>
                    <b>Дата напускане</b>: @Model.Left_Date.ToString("dd.MM.yyyy")
                </p>
                <p>
                    <b>Позиция</b>: @Model.Role
                </p>
                <p>
                    <b>Отдел</b>: @Model.Department
                </p>
                <p>
                    <b>Брутна заплата</b>: @Model.Salary лв.
                </p>
            </div>

            <div class="col-12 col-lg-5 pb-5 pb-lg-0 d-flex flex-column align-items-center pt-2">
                @if (Model.ImageSrc == null)
                {
                    <img src="~/img/placeholder.jpg" class="profileImageBig img-fluid shadow img-thumbnail rounded-circle mb-2">
                }
                else
                {
                    <img src="~/profile_images/@(Model.ImageSrc)" class="profileImageBig img-fluid shadow img-thumbnail rounded-circle mb-2">
                }
            </div>
        </div>
    </div>
</div>
